:root {
  --main-bg-color: #ddf1fd;
  /* Primary Text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /* BG */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  /*  Neutral Text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
  --second-bg-color: hsl(0, 0%, 0%);
  --back-grading:var(--Dark-grayish-blue)
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #ffffff;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: "Oswald";
  font-weight: 400;
  background-color: black;
  color: white;
}
div.desc:hover {
  color: #346cdb;
  text-decoration: underline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  font-size: 14px;
  /* background-color: var(--main-bg-color); */
  align-items: start;
  min-height: 100vh;
  background-image: linear-gradient(var(--Dark-grayish-blue),var(--second-bg-color));
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #000000;
  border-top: 1px solid #e5e5e5;
}

.footer>* {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.8rem;
  color: aqua;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #000000;
  font-family: "Oswald";
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(67, 147, 189, 0.445);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

footer a:hover {
  color: #346cdb;
  /* Change color on hover */
  transform: scale(1.1);
  /* enlarge the text on hover */
  text-decoration: underline;
  /* underline on hover */
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav>* {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

.legal p,
.legal__links span,
.footer p,
.footer a {
  font-family: "Oswald";
  color: rgb(255, 255, 255);
}

.introinfo,
.introdescript {
  font-family: "Lora";
  color: white;
}

.footer h2 {
  font-family: "Oswald";
  color: aqua;
}

.main-container {
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  padding: 30px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 35px 30px -30px rgb(85 83 83);
  background-image: url(images/bg-pattern-desktop.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: -457px -250px;
  margin-bottom: 60px
}

.faq ,.woman-img{
  flex: 1;
}

.woman-img{
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.box{
  display: block;
  position: absolute;
  transform: translateX(-50%) translateY(85%);
  z-index: 1;
}

.desk-img{
  transform: translateX(-17%);
}

.mob-img{
  display: none;
}

.faq{
  padding: 30px 30px;
}

.faq h1{
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 35px;

}


.items{
  font-size: 15px;
  padding-right: 80px;

}


.item{
  border-bottom:var(--Light-grayish-blue) 1px solid;
  padding:10px 10px 10px 0;    
}

.item-link{
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  transition: 0.2s;
}

.item-link:hover{
  color: var(--Soft-red);
}

.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 1s;

  color: var(--Dark-grayish-blue);
  font-size: 12px;
  line-height: 20px;

}

.item:target .answer{
  max-height: 100px;
  padding: 5px 0;
}

.item:target .item-link{
  font-weight: 700;
} 

.item:target .arrow img{
  transform: rotate(180deg);
  transition: transform 0.6s ease-in-out;
}


@media (max-width: 1155px){
  .desk-img{
      display: none;
  }

  .box{
      display: none;
  }

  .mob-img{
      display: block;
      position: relative;
      left: -10px;
      top: -40px;
      margin: 0 auto;
  }

  .woman-img{
      overflow: visible;
      height: 0;

  }

  .main-container{
      background-image: none;
      display: block;
      margin-top: 180px;
  }

  .items {
      padding-right: 0;
  }

  .answer p{
      padding-right: 50px;
  }

  .faq h1{
      text-align: center;
  }

  .faq {
      padding-top: 90px;
  }
}

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
      -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

/* .navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
} */

.navbar img {
  height: 50px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
  object-fit: contain;
}

/* .navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-self: end;
  
}

.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
} */
.navbar {
  display: flex;
  justify-content: space-between; /* Space out items */
  align-items: center;
  padding: 0 20px; /* Add some padding to the sides */
  height: 50px;
}

.navbar ul {
  list-style: none;
  display: flex; /* Arrange items in a row */
  gap: 20px; /* spacing */
  margin: 0;
  padding: 0;
}

.nav-item a {
  color: #000;
  font-size: 1.2rem; /* font size */
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}


.nav-item a:hover {
  color: #3498db;
}

/* Sections */

/* .headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

/* Search */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0; /* mobile nav */
  outline: 0;
  padding: 5px;
}

/* mobile menu & animations */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* animations */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }
  
  /* mobile heading */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  
  /* mobile nav */
     
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    /* background-color: #fff; */
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
  
  /* SECTIONS */
  
  /* .headline {
    height: 20vh;
  } */
    
  .feature-container p {
    margin-bottom: 25px;
  }
  
  .feature-container {
    margin-top: 20px;
  }
  
  .feature-container:nth-child(2) {
    order: -1;
  }
  
  /* SEARCH DISABLED ON MOBILE */
  
  #search-icon {
    display: none;
  }
  
  .search-input {
  display: none;
 }
  
}
.hidden-checkbox {
  display: none;
}
/* search input hidden by default */
.search-input {
  position: absolute; /* position it relative to its container */
  top: 50%; 
  left: calc(100% + 10px);
  transform: translateY(-50%); 
  opacity: 0; /* Initially hidden */
  pointer-events: none; 
  z-index: 10; /* bring it above other elements */
  transition: opacity 0.3s ease, transform 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#search-toggle:checked ~ .search-input {
opacity: 1;
pointer-events: auto;
transform: translateY(-50%) translateX(-10px);
}

.navbar ul {
transform: translateX(-100%);
transition: transform 0.5s ease;
}

#menu-toggle:checked ~ .navbar ul {
transform: translateX(0);
}

/* mobile icon toggle animation */
#menu-toggle:checked + .menu-toggle .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
}

#menu-toggle:checked + .menu-toggle .bar:nth-child(2) {
opacity: 0;
}

#menu-toggle:checked + .menu-toggle .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 1023px) and (min-width: 721px) {
.navbar {
display: flex;
justify-content: flex-start; 
align-items: center;
padding: 0 40px; 
}

.navbar ul {
display: flex;
justify-content: flex-end; 
gap: 20px; /* Add spacing between items */
margin-left: auto; 
}

.nav-item a {
font-size: 1rem; 
}

.search-input {
margin-left: 15px; /* Add space between search input and items */
width: 150px; /* Set the width of the search input */
}
.navbar img {
  display: none; /* Hide the logo */
}
}

.footer__socialss a {
  margin: 0 15px 10px 10px;
  font-size: 1.5rem;
  color: aqua; /* Use your footer text color */
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__socialss a:hover {
  color: #007bff; /* Highlight color on hover */
}